<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admission Process</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-[#020617] text-white">

<div th:replace="navbar :: navbar"></div>

<section class="max-w-5xl mx-auto px-6 py-16">

    <h1 class="text-5xl font-bold text-yellow-400 mb-10">
        📌 Admission Process
    </h1>

    <div class="space-y-6 text-lg text-gray-300">

        <div class="bg-[#0f172a] p-6 rounded-2xl">
            Step 1 → Fill Online Admission Form
        </div>

        <div class="bg-[#0f172a] p-6 rounded-2xl">
            Step 2 → Submit Required Documents
        </div>

        <div class="bg-[#0f172a] p-6 rounded-2xl">
            Step 3 → Verification by College
        </div>

        <div class="bg-[#0f172a] p-6 rounded-2xl">
            Step 4 → Fee Submission
        </div>

        <div class="bg-[#0f172a] p-6 rounded-2xl">
            Step 5 → Admission Confirmation
        </div>

    </div>

</section>

</body>
</html>