<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#0f172a] text-white min-h-screen p-10">

<h1 class="text-4xl font-bold text-yellow-400 mb-10">
    🖼 College Gallery
</h1>

<!-- UPLOAD FORM -->
<div class="bg-[#111827] p-8 rounded-2xl mb-10">

    <h2 class="text-2xl font-bold mb-6">
        Upload Image
    </h2>

    <form action="/admin/upload-gallery"
          method="post"
          enctype="multipart/form-data"
          class="space-y-5">

        <input type="text"
               name="title"
               placeholder="Image Title"
               class="w-full p-4 rounded-xl text-black">

        <input type="file"
               name="imageFile"
               class="bg-white text-black p-3 rounded-lg">

        <button type="submit"
                class="bg-yellow-400 text-black px-6 py-3 rounded-xl font-bold">

            Upload Image

        </button>

    </form>

</div>

<!-- GALLERY -->
<div class="grid md:grid-cols-3 gap-6">

    <div th:each="image : ${galleryList}"
         class="bg-[#111827] p-4 rounded-2xl">

        <img th:src="@{'/uploads/' + ${image.imageName}}"
             class="rounded-xl w-full h-60 object-cover">

        <h2 class="mt-4 text-xl font-bold"
            th:text="${image.title}">
        </h2>

    </div>

</div>

</body>
</html>