<div th:fragment="contact" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer">
        <div class="footer-container">
            <h2>Contact Us</h2>
            <p>📍 Mahendergarh, Haryana</p>
            <p>
                📞
                <a href="tel:8607062323">8607062323</a> |
                <a href="tel:8607062424">8607062424</a>
            </p>
            <p>
                ✉ <a href="mailto:info@ydc.com">info@ydc.com</a>
            </p>
            <p class="copyright">
                © 2026 YDC College
            </p>

        </div>
    </footer>

</div>